.lista {
    margin-bottom:40px;
}

body{
        background: #eaeaea;
}

.h1{
   font-size: 30px;
    font-weight: bold;
    color: #800000;
    text-shadow: 2px 1px 0px white;
}

.navbar{
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.49);
    border-bottom: 1px solid #000;
}


.avatarMini {
    width: 37px;
    border: 1px solid #6B788A;
    border-top: 1px solid #7F7E84;
    margin: 5px;
}






a:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

.lista a{
    margin-left: 15px;
    color: #D2C8C9;
    text-shadow: 2px 2px 1px #232323;
}

.container2{
    margin: 0;
    background: #13181F;
    width:100%;
    margin-top: -24px;
}

.menuH1{
    padding: 18px 5px;
    margin: 0;
    font-size: 20px;
    color: #FFF;
}

.form-registro {
    max-width: 400px;
    margin: auto;
}

.fixedTop{
    margin-top:50px;
}
.fixedTop-inverse{
    margin-top: -76px;
}

.media {
    border: 1px solid rgb(102, 103, 115);
    background-color: rgb(84, 88, 103);
    border-radius: 2px;
    box-shadow: 1px 1px 1px #0A130C;
    text-align: left;
}

.scroll600{
    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}
.media .tags, .lista-tags a{
    /*background-color: rgba(214, 116, 116, 0.24);
     text-shadow: 0px 0px 1px #FFFFFF;*/
    padding: 0px 4px;
    border-radius: 4px;
    color: #000000;
    margin-right: 1px;
    margin-top: 4px;
    display: inline-block;
    font-size: 11px;
    font-family: sans-serif;
   
    border: 1px solid #39384A;
}

.overflow-hidden{
    overflow: hidden;
}

.media-body a:hover{
    text-decoration: none;

}

h4.media-heading {
    margin-top: 3px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

.media:hover{
     -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 1px solid #D8C9C1;
    background-color: #B3A0A0;
}

.containerBody{
        box-shadow: inset 0px 2px 0px #5A5877;
}

.nav-buscador{
    z-index: 1000;
    position: relative;
}

#botonFb{
    background-color: rgba(80, 82, 152, 0.44);
    padding: 5px 13px;
    margin: 7px;
    box-shadow: 0px 1px 0px #211B3C;
    border: 1px solid #2D2C4A;
    border-top: 1px solid #5F5E9A;
}

.h3mini{
    font-size: 14px;
    text-align: left;
}

.logoCanal{
    background-size: cover !important;
    border-radius: 3px;
    float: left;
    margin-right: 10px;
    width: 115px;
    height: 90px;
    box-shadow: 1px 1px 4px #000;
}

.h1Desc{
    font-size: 16px;
    color: rgb(143, 122, 122);
    padding-top: 5px;
    display: inline-block;
}
.banner300{
    margin:30px 2px;
}

.embedPcenter iframe{
    width: 300px !important;
    height: 250px !important;
    margin: auto;
    position: initial !important;
}



.web-tab-content{
       background: #fafafa;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #cacaca;
    border-left: 1px solid #cacaca;
    padding: 10px;
    color: #000;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        cursor: default;
    background: #fafafa;
    border: 1px solid #cacaca;
    border-bottom: 1px solid #fafafa;
}
.nav-tabs > li > a{
       background-color: rgba(202, 202, 202, 0.75);


}
.nav-tabs > li > a:hover {
    /*border-color: #DAD7D7 #D3D3D3 #ddd;*/
    border-color: transparent;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #DFDFDF;
}
.nav-tabs {
        border-bottom: 1px solid #cacaca;
}

.fb-share-button-c, .twitter-share-button  {
    float: left;
    margin-right: 17px;
}



.justificado{
    text-align: justify;
}
.bloqueTitle{
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 7px;
    font-size: 17px;
    padding: 5px 8px;
    color: #E4E4E4;
}
.web-panel-heading {
    padding: 6px 7px;
}
.bootstrap-switch-normal{
    width:100%;
}

.bootstrap-switch-bsw-50{
    width:50%;
}

.panel{
    box-shadow: 0px 2px 1px rgb(30, 29, 41);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #000;
}



.bloqueCanal{
margin: 10px 0;
}

.center{
    margin:auto;
}

.logo_center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding: 0px 5px;
}
.logo_center a{
    padding: 4px;
    display: inline-block;
}

.fb-comments, .fb-comments span, .fb-comments iframe {
    width: 100%!important;
}

input.text, .formEV input, .formEV textarea, .formEV select, .input{
    background: rgb(214, 214, 214);
    box-shadow: inset 1px 1px 1px #848484;
    border: 1px solid #272626;
}
.x-center{
    text-align: center;
}
.footer{
    color: #DDD;

    background-color: #1B192B;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}


.separar{
    height:20px;
}
.web-visible-xs{
    display:none;
}

.right{
    float:right;
    margin-right: 4px;
}

.right2{
    float:right;
}


.bloque300Index{
    height: 272px;
    margin-right: 39px;
    margin-left: 20px;
    float: right;
}

.embedPublicidad300{
    background-color: rgba(0, 0, 0, 0.43);
    display: table;
    text-align: center;
}
.embedPcenter{
    display: table-cell;
    vertical-align: middle;
}
.btnReproducir{
    background-color: rgba(113, 42, 42, 0.39);
    padding: 10px 15px;
    border-radius: 18px;
}

table{
    background: transparent;
}

form.gsc-search-box {
    margin:0;
}
.gsc-control-cse{
    padding:0 !important;
    border:0 !important;
    background: rgba(0, 0, 0, 0) !important;
}
.gsc-control-cse div {
    color: #C5B7B7;
}

.gsc-control-cse table.gsc-search-box{
    margin-bottom: -4px;
}
td.gsc-input{
    padding-right: 3px !important;
}
.gsc-search-button-v2{
    padding: 16px 19px !important;
    margin: 0 !important;
    margin-bottom: -5px !important;
    background: url(http://www.google.com/uds/css/v2/search_box_icon.png) center center no-repeat #577492 !important;
}
.gsc-results {
    width: 100%;
    background-color: transparent !important;
}
.gcsc-branding{
    display: none;
}

.notificaciones{
    z-index: 10000;
    position: relative;
    max-width: 750px;
    opacity: 0.7;
    text-shadow: 1px 1px 1px #000;
    padding: 0 18px;
}
.bloqueFav{
    padding: 15px;
    text-align: center;
}

.fav-eliminar{
    position: absolute;
    margin-top: -9px;
    margin-left: -10px;
}

.fav-btn{
    color: #FFF !important;
}
.embed-responsive-4by25{
    padding-bottom: 62%;
}


.logo_center{
        line-height: 0.5;
}
.l-envivoes{
    font-size: 25px;
    background: -webkit-linear-gradient(rgb(85, 255, 112), #131010);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.26);
}
.l-es{
    margin-left: 3px;
    font-size: 27px;
    text-shadow: 0px 0px 0px rgba(255, 218, 218, 0.32);
}
.l-vivoes{
    font-size: 30px;
    background: -webkit-linear-gradient(#A1B1FF, #3A1414);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    color: #FFF;
    text-shadow: 3px 0px 0px rgba(255, 255, 255, 0.41);
}
.l-es span:last-child{
        font-size: 35px;
    font-weight: 100;
}
.web-panel a.btn{
    margin-bottom: 3px;
}
 .visible-xxs{
    display: none;
 }
 .bloque-letra-img{
    width: 105px;
    height: 70px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    line-height: 3;
    color: #E8A448;
    text-shadow: 0px -1px 1px #522308;
 }
 .media-left, .media>.pull-left {
    padding-right: 6px;
}

.embed-responsive div#mediaplayer p {
    color: #000;
}


.logo_center a{
    padding: 8px 15px;
    color: #c5dee0;
    font-weight: 400;
    font-size: 25px;
    margin: 8px;
    text-shadow: 0px 0px 18px #847979;
}

.hidden-xxs-i{
    display: inline-block;
}    


.bt2{
    font-size: 15px;
    font-weight: bold;
    color: #ECB7AE;
    text-shadow: 1px 1px 1px #000000;
    margin-top: 20px;
    margin-bottom: 3px;
}

.web-hidden{
    display: none;
}

.mediax{
        max-height: 72px;
}
.tags-pais{
    background: rgb(120, 123, 135);
}

.fancybox-inner {
    overflow: hidden !important;
}

.web-h2 {
    margin-top: 135px;
    display: block;
}


/************MAPA**********************/
.gCabeza .titulo{
		margin: 0 4px 0 4px;
	}
	#mapa{
		width: 780px;
		height: 480px;
		margin: auto;
		position: relative;
    		background: #dadada;
		border: 1px solid #b3b3b3;
		-webkit-transition: .5s;
    		transition: .5s;
	}
	.objeto{
		width: 140px;
		position: relative;
		border:1px solid #CCC;
   		padding: 1px;
	    background: #eaeaea;
		-webkit-transition: .1s;
    		transition: .1s;
	}

	.gondola{
		width:100px;
	}

	.gb{
        width: 98%;
        margin: 2px auto;
	}
	.gbC{
		width:47%;
		height: 100px;
	}
	.gbR{
		margin-right: 1px;
		margin-left: 0;
  		float: right;
	}
	.gbL{
		margin-right: -1px;
		float: left;
	}
	.btn-xxxs{
	    margin: 0;
	    padding: 0px 2px;
	    font-size: 13px;
	}
	.modoVistaPrevia {
	    margin-top:-22px;
		display:none;
	}
	.gCuerpo{
		overflow: hidden;
		text-align:center;
	}

	.caja{
		
    		width: 72px;
		position: relative;
   		padding: 1px;
	}
	.baño{
		
    		width: 72px;
		position: relative;
   		padding: 1px;
	}

	.etiqueta{
		text-align:center;
	}
	.objeto[title="etiqueta sin borde"] { 
	    border:1px solid transparent;
		background:transparent;
	}

	.iconMapa{
		width:20px;
	}
	.objeto[title~="etiqueta"] .icaja { 
	    display:none;
	}
	.objeto[title~="etiqueta"] .ibaño { 
	    display:none;
	}

	.objeto[title="caja"] .icaja { 
	    display:inline-block;
	}
	.objeto[title="caja"] .ibaño { 
	    display:none;
	}

	.objeto[title="baño"] .icaja { 
	    display:none;
	}
	.objeto[title="baño"] .ibaño { 
	    display:inline-block;
	}


	.objeto:hover .modoVistaPrevia {
	    display: inline-block;
	}
	.objeto:hover{
		border:1px dashed #AAA;
	}
	
	.gondola .gCenter,  .gondola .gBA,  .gondola .gBB{
		display:none;
	}
	/*visibilidad de bloques en gondolas*/
	.gondola[rel*="A"] .gBA{
		display:block;
	}
	.gondola[rel*="C"] .gBC{
		display:block;
	}
	.gondola[rel*="D"] .gBD{
		display:block;
	}
	.gondola[rel*="E"] .gBE{
		display:block;
	}
	.gondola[rel*="B"] .gBB{
		display:block;
	}

	.objeto:hover .gb[title=""]{
	    background: #cedef3;
	}


/*************************************************************/
iframe{
    border: 0;
}

.iframe{
    height: 490px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


.app-btn-entrar{
    width: 229px;
}

@media screen and (max-width: 320px) {
    .hidden-320{
        display:none;
    }
}


@media screen and (max-width: 480px) {
    /*para version xx movil*/
   .visible-xxs{
        display: block;
    }
    .hidden-xxs,.hidden-xxs-i{
        display: none;
    }
    .embed-responsive-4by25 {
        padding-bottom: 67%;
    }

}


@media screen and (max-width: 765px) {
    /*para version movil*/
    .web-visible-xs{
        display:inline-block;
    }

    .logo_center{
        text-align: left;
        margin-left: -12px;
    }
}
@media screen and (max-width: 768px) {
    /*para version movil*/
    .media{
        display: inline-block;
        margin-right: 5px;
        margin-left: 5px;
        margin: 1px;
    }


    .menuH1{
        text-align: center;
    }
    .bloquePost, .bloqueBanner{
        text-align: center;
    }
    #___plusone_0{
        display: none !important;
    }
    h1{
            font-size: 18px;
            font-weight: bolder;
            text-shadow: -1px 5px 4px #bfb7b7;
        }
    }
}

@media (max-width: 991px) and (min-width: 768px){
    /*solo tablet*/
    .web-hidden-sm{
        display: none;
    }

     .media-fav{
        width: 47%;
        display: inline-block;
        margin: 4px;
    }

  
}

@media only screen and (min-width: 769px){
    /* Tablet y escritorio */

   .listaHorizontal li {
        float: left;
        width: 220px;
    }
    .listaHorizontal {
        margin-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        width: 450px;
    }

    .web-panel{
        width:300px;
    }
    
    .nav-buscador input{
        width: 130px !important;
    }

}

@media (min-width: 992px){
    /*escritorio*/
     .media{
        width: 47%;
        display: inline-block;
        margin: 4px;
    }
}

